{% extends "base.html.twig" %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href={{ path('home_index') }}>TCHI TCHA</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href={{ path('admin_index') }}>Les films</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href={{ path('app_logout') }}>Deconnexion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-5">
		<h5>Les films référencés</h5>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Année</th>
					<th scope="col">Réalisateur</th>
					<th scope="col">Stock</th>
					<th scope="col">Disponible</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for film in films %}
					<tr>
						<th scope="row">{{film.title}}</th>
						<td>{{film.year}}</td>
						<td>{{film.director}}</td>
						<td>{{film.quantity}}</td>
						{% if film.getAvailable %}
							<td class="text-success">
								OUI
							{% else %}
								<td class="text-danger">
									NON
								{% endif %}
							</td>
							<td>
								<div class="d-flex">
									<a href={{ path('info_film', {'id':film.id}) }}>
										<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Infos utilisateurs">
											ℹ️
										</button>
									</a>
									<p class="text-white">_</p>
									<a href={{ path('film_edit', {'id': film.id} ) }}>
										<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
											✍
										</button>
									</a>
									<p class="text-white">_</p>
									<form method="post" action="{{ path('admin_film_delete', {'id': film.id}) }}" onsubmit="return confirm('Supprimer définitivement le film {{film.title}}?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
										<button type="submit" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
											❌
										</button>
									</form>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		<div class="d-flex mt-2 mb-5 justify-content-end">
			<a class="btn btn-primary" href="#">Nouveau film</a>
		</div>
	</div>
{% endblock %}
