{% extends "base.html.twig" %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href={{ path('home_index') }}>TCHI TCHA</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href={{ path('user_index') }}>Les films</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href={{ path('user_cart') }}>Mon panier</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href={{ path('cart_history') }}>Historique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href={{ path('app_logout') }}>Deconnexion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-5">
		<h5>Détail de la réservation n°{{borrow.id}}</h5>
	</div>

	{# <div class="container mt-5">
		<ul class="list-group">
			{% for film in cart.films  %}
				<li class="list-group-item">

					<div class="d-flex justify-content-between">
						<div>
							<img src={{film.poster}} alt="affiche du film" height="80px">
						</div>
						<div>
							<strong>{{film.title}}</strong>
							<p>{{film.year}}
								-
								{{film.director}}</p>
						</div>
						<div>
							<a href={{ path('return_film', {'idCart':cart.id, 'idFilm':film.id} ) }} class="btn btn-success" onclick="return confirm('Etes-ous sûr de vouloir rendre {{film.title}}?');">Rendre ce film</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div> #}

	<div class="container mt-5">
		<ul class="list-group">
			{% for film in borrow.films  %}
				<li class="list-group-item">

					<div class="d-flex justify-content-between">
						<div>
							<img src={{film.poster}} alt="affiche du film" height="80px">
						</div>
						<div>
							<strong>{{film.title}}</strong>
							<p>{{film.year}}
								-
								{{film.director}}</p>
						</div>
						<div>
							<a href={{ path('return_film', {'idBorrow':borrow.id, 'idFilm':film.id} ) }} class="btn btn-success" onclick="return confirm('Etes-ous sûr de vouloir rendre {{film.title}}?');">Rendre ce film</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
