{% extends "base.html.twig" %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">TCHI TCHA</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href={{ path('app_logout') }}>Deconnexion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid mt-5">
		<h3>Bienvenue {{user.name}}</h3>
		<div class="jumbotron">
			<p>Trier par: <span><a class="btn btn-primary" href={{ path('user_index') }}>Titre</a>  <a class="btn btn-primary" href={{ path('user_index_year') }}>Année</a>  <a class="btn btn-primary" href={{ path('user_index_duration') }}>Durée</a></span>
			Rechercher:
			</p> 
		</div>
	</div>

	<div class="container mt-4">
		<div class="row">
			{% for film in pagination %}
				<div class="col-md-4 d-flex justify-content-center">
					<div class="card mt-3" style="width: 18rem;">
						<img src={{film.poster}} class="card-img-top" alt="affiche du film">
						<div class="card-body d-flex flex-column justify-content-between">
							<h5 class="card-title">{{film.title}}</h5>
							<p class="card-text">{{film.plot}}</p>
							<p class="card-text">Réalisateur:
								{{film.director}}
								-
								{{film.year}}
								-
								{{film.runtime}}min</p>
							<a href="#" class="btn btn-primary">Emprunter</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="d-flex justify-content-center mt-4">
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
